<!DOCTYPE html>
<html lang="en">

<!-- HEADER -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BCR - Car Management Dashboard</title>

    <!-- INSTALL BOOTSTRAP ONLINE -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<!-- END HEADER -->

<!-- BODY -->
<body>
    <div id="cars-page" class="container-fluid">
        <div id="cars" class="row">
            <!-- SIDE BAR -->
            <div id="side-bar" class="col-1">
                <div class="col text-center" style="padding-bottom: 30px;">
                    <img src="../assets/Rectangle2.svg" class="logo-sidebar justify-content-center">
                </div>         
                <div class="col text-center">
                    <img src="../assets/fi_home.png" alt="">
                    <p>Dashboard</p>
                </div>
                <div class="col text-center">
                    <img src="../assets/fi_truck.png" alt="">
                    <p>Cars</p>
                </div>
            </div>
            <!-- END SIDE BAR -->

            <div class="col-11">
                <!-- NAVBAR -->
                <nav id="top-nav" class="navbar navbar-expand-lg navbar-light shadow-sm">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="../assets/Rectangle.svg" alt=""></a>
                        <img src="../assets/fi_menu.png" style="padding-left: 100px;" alt="">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                            <form class="d-flex" action="/find" method="POST">
                                <input class="form-control me-2" name="name" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline" style="color: #0D28A6; border-color: #0D28A6;" type="submit">Search</button>
                            </form>
                            <div class="ms-4 d-flex align-items-center">
                                <i class="bi bi-person-circle name-img"></i>
                                <img src="../assets/Ellipse.svg" alt="">
                                <p class="my-0 ms-2 me-3 name-account">Miftakhul Ulum Khasanah</p>
                            </div>
                        </div>
                    </div>
                </nav>
                <!-- END NAVBAR -->

                <!-- MAIN -->
                <div id="side-nav" class="row">
                    <div class="col-2">
                        <div class="list-group" id="list-tab" role="tablist">
                            <div class="list-group-item">CARS</div>
                            <a class="list-group-item list-group-item-action active" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="profile">List Cars</a>
                        </div>
                    </div>

                    <!-- CONTENT -->
                    <div id="content" class="col-10">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>
                            <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                <div id="top-ref" class="mx-3 my-4 d-flex align-items-center align-center">
                                    <a href="/">Cars</a>
                                    <img src="../assets/chevron-right.png" alt="" style="width: 15px; height: fit-content;">
                                    <a class="active" href="/">List Car</a>
                                </div>

                                <div class="ms-3 mb-3 d-flex justify-content-between">
                                    <h2>List Car</h2>
                                    <a href="/add" class="btn btn-primary btn-add d-flex align-items-center">
                                        <img class="icon" src="../assets/fi_plus.png" alt="">
                                        Add New Car
                                    </a>
                                </div>

                                <div name="myRadio" class="ms-3" >
                                  <a class="btn btn-outline-radio <% if(filter=='all'){ %> chose <% } %>" href="/">All</a>
                                  <a class="btn btn-outline-radio <% if(filter=='small'){ %> chose <% } %>" href="/small">Small</a>
                                  <a class="btn btn-outline-radio <% if(filter=='medium'){ %> chose <% } %>" href="/medium">Medium</a>
                                  <a class="btn btn-outline-radio <% if(filter=='large'){ %> chose <% } %>" href="/large">Large</a>
                                </div>
                                
                                <div id="cars-card" class="row row-cols-1 row-cols-md-3 g-4 m-2">
                                  <% cars.forEach(function(element) { %>
                                    <div class="col">
                                      <div class="card">
                                        <img src="<%- element.dataValues.img -%>" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <p><%- element.dataValues.name -%>/<%- element.dataValues.size -%></p>
                                          <h5 class="card-title rent-view"><%- element.dataValues.rent -%></h5>
                                          <div class="d-flex flex-row card-clock my-3">
                                              <img class="icon" src="../assets/fi_clock.png" alt="">
                                              <p class="card-text time-view"><%- element.dataValues.updatedAt -%></p>
                                          </div>
                                        </div>
                                        <div class="d-flex p-2">
                                          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal<%= element.dataValues.id %>" class="btn m-1 d-flex align-items-center justify-content-center btn-delete">
                                            <img class="icon" src="../assets/fi_trash.png" alt="">
                                            Delete
                                          </button>
                                          
                                          <!-- MODEL -->
                                          <div class="modal fade" id="exampleModal<%= element.dataValues.id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= element.dataValues.id %>" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                              <div class="modal-content p-3">
                                                <div class="modal-body text-center">
                                                  <img src="../assets/modal-delete-img.png" alt="">
                                                  <h5 class="my-3">Menghapus Data Mobil</h5>
                                                  <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                                                </div>
                                                <div class="d-flex">
                                                  <button type="button" class="btn m-1 btn-close-modal" data-bs-dismiss="modal">Close</button>
                                                  <a href="/api/deleteCar/<%- element.dataValues.id -%>" class="btn m-1 d-flex align-items-center justify-content-center btn-save">
                                                    Delete
                                                </a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <a href="/update/<%- element.dataValues.id -%>" class="btn m-1 btn-success d-flex align-items-center justify-content-center btn-edit">
                                              <img class="icon" src="../assets/fi_edit.png" alt="">
                                              Edit
                                          </a>
                                        </div>
                                      </div>
                                    </div>    
                                  <% }); %>
                                </div>
                                
                                <% if(save == "success") {
                                  %>
                                  <div class="alert text-center" id="success-alert" role="alert">
                                    Data Berhasil Disimpan
                                  </div>
                                <%} %>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END MAIN -->
            </div>
        </div>

        <!-- OPTIONAL JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

        <script>
            window.setTimeout(function () {
                const alert = document.querySelector('.alert');
                fade(alert);
            }, 4000);

            function fade(element) {
                if (element) {
                    var op = 1; // initial opacity
                    var timer = setInterval(function () {
                        if (op <= 0.1) {
                            clearInterval(timer);
                            element.style.display = 'none';
                        }
                        element.style.opacity = op;
                        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                        op -= op * 0.1;
                    }, 50);
                }
            }

            window.onload = function () {
                const rentView = document.getElementsByClassName('rent-view');
                for (let i = 0; i < rentView.length; i++) {
                    rentView[i].innerHTML = parseRupiah(rentView[i].innerHTML) + ' / hari';
                }

                const timeView = document.getElementsByClassName('time-view');
                for (let i = 0; i < timeView.length; i++) {
                    timeView[i].innerHTML = parseTime(timeView[i].innerHTML);
                }
            }

            function parseRupiah(num) {
                var number_string = num.replace(/[^,\d]/g, '').toString(),
                    split = number_string.split(','),
                    sisa = split[0].length % 3,
                    rupiah = split[0].substr(0, sisa),
                    ribuan = split[0].substr(sisa).match(/\d{3}/gi);

                // tambahkan titik jika yang di input sudah menjadi angka ribuan
                if (ribuan) {
                    separator = sisa ? '.' : '';
                    rupiah += separator + ribuan.join('.');
                }

                rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
                return (rupiah ? 'Rp ' + rupiah : '');
            }

            function parseTime(str) {
                const disp = str.split(' ');
                const date = disp[2] + ' ' + disp[1] + ' ' + disp[3];
                const time = disp[4].split(':');
                const hourMinute = time[0] + '.' + time[1];
                return 'Upadated at ' + date + ', ' + hourMinute;
            }
        </script>
    </div>
</body>

</html>